
<body>
<h1>welcome to social elite</h1>
<%if(locals.user){%>
<section>
    
    <form action="/user/post/create" method="POST">
        <textarea name="content" id="" cols="30" rows="4" placeholder="How you DOING"></textarea>
        <input type="submit" value="Post">
    </form>
</section>
<%}%>
<section id="post-area">
        <%for(post of posts){%>
            <li>
                <p>
                    <%=post.content%>
                    <br>
                    <%=post.user.name%>
                </p>
            </li>
            
                <div class="comment-form">
                    <%if(locals.user){%>
                    <form action="/user/comment/create" method="POST">
                        <input type="text" name="comment" required>
                        <input type="hidden" name="post" value="<%=post._id%>">
                        <input type="submit" value="Add comment">
                    </form>
                     <%}%>
                     <div>
                         
                        <ul id="post-container- <%=post._id%>">
                            <%for(comment of post.comments){%>
                                <%=comment.comment%>
                            <br>
                            <%=comment.user.name%>
                            <%}%>
                        </ul>
                        
                 </div>
                </div>
               
        <%}%>

</section>
</body>